.navbar-start {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}

.hero-body {

    background-image: url(images/hiclipart.com.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 35%;
    height: 500px;
    background-color: white;
    text-align: center;
 
}
.blossom {
    float: left;
    margin-left: -50px;
    margin-top: -250px;
    width: 500px;
}

.title {
    font-size: 50px;
}

h1 {
    font-size: 3rem;
}

.about {
    margin-top: 50px;
}

* {
    font-family: Questrial;
    color: grey;
}

.footer {
    background-color: #ffc2d1;
    padding-bottom: 60px;
    margin-top: 50px;
    height: 7rem;
}

.me {
    width: 40%;
    border-radius: 100%;
    margin-left: 10%;
    margin-top: 10px;
}

.me-column {
    align-content: center;
}


.html, .css, .js, .git, .jquery, .mongo, .node, .react {
    width: 40%;
    text-align: center;
    
}


.column {
    text-align: center;
}

.skills, .skills-title, .cli-title {
    margin-top: 60px;
    text-align: center;
}

.columns {
    margin-top: 5px;
}

.levelup, .pawpals, .train, .liri, .bamazon {
    width: 80%;
}

.passport {
    width: 30%;
}

h2 {
    font-size: 20px;
}

.fullstack, .frontend {
    margin-top: 50px;
}

.fullstack-title, .frontend-title {
    text-align: center;
}